.hero-unit {
  margin-top:66px;
  color: #fff;
  background-color: #84BD00;
  text-align:center;
}

.hero-unit h1 {
    font-size:40px;
}

@media (min-width: 768px) {
  .hero-unit h1 {
    font-size: 64px;
  }
}

#about h1 {
  color: #84BD00;
}

#source {
    height:40px;
    padding:10px;
    margin:10px;
    width:550px;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   color:black;
}

#search-form {
}

#about h2 {
  color: #84BD00;
}


.reg-unit {
  color:white;
  margin-top:66px;
  background-color: #6F7073;
}

.navbar-nav li a {
    cursor:pointer;
}

#about {
    display:none;
}

#main {
    margin-top:20px;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    display:none;
    font-size:22px;
}

#footer {
    margin-top:10px;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}

#main h2 {
    font-size:32px;
}

#info {
    margin:20px 0;
    width:100%;
    text-align:center;
    height:32px;
    font-size:24px;
}


